@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-flow: column;
}

#main_layout {
  flex: 1 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}