.line-chart {
  border: solid 1px white;
  background-color: #424242;
  padding: 2px;
}

.container {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
}

.chart-area {
  margin-bottom: 1rem;
}